@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  font-display: swap;
  src: url("../fonts/Jost-Black.woff") format("woff"), url("../fonts/Jost-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "PT";
  font-display: swap;
  src: url("../fonts/PT.woff") format("woff"), url("../fonts/PT.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gilroy";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gilroy";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  font-size: 10px;
}

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

.title {
  font-family: PT;
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.header {
  position: relative;
}

.header__content {
  padding: 20px 0px 150px 0px;
  max-width: 1230px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 150px 0px;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__phone span {
  display: inline-block;
  font-size: 1.5rem;
  padding: 10px;
  text-align: center;
  background: -o-radial-gradient(-6.38% -73.08%, 240.38% 3156.38%, #e5a73a 0%, #e5a73a 100%);
  background: radial-gradient(240.38% 3156.38% at -6.38% -73.08%, #e5a73a 0%, #e5a73a 100%);
  opacity: 0.8;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;
}

.header__phone span:last-child {
  margin: 25px 0px 0px 0px;
}

.header__phone img {
  position: absolute;
  left: 20px;
  top: 5px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__nav-item {
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
  background: -o-radial-gradient(-6.38% -73.08%, 240.38% 3156.38%, #e5a73a 0%, #e5a73a 100%);
  background: radial-gradient(240.38% 3156.38% at -6.38% -73.08%, #e5a73a 0%, #e5a73a 100%);
  opacity: 0.8;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;
  margin: 0px 0px 0px 30px;
}

.header__title {
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  line-height: 1.4;
  padding: 30px 40px;
  background: -o-radial-gradient(-22.37% -263.35%, 322.91% 4859.17%, #e5a73a 0%, rgba(201, 204, 213, 0.37) 100%, #e5a73a 100%);
  background: radial-gradient(322.91% 4859.17% at -22.37% -263.35%, #e5a73a 0%, rgba(201, 204, 213, 0.37) 100%, #e5a73a 100%);
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px;
  max-width: 670px;
  margin: 0px 0px 25px 0px;
}

.header__subtitle {
  font-size: 4rem;
  font-weight: 300;
  max-width: 540px;
  padding: 0px 0px 0px 50px;
  margin: 0px 0px 150px 0px;
}

.header__send {
  background: -o-radial-gradient(-22.37% -263.35%, 511.17% 4488.45%, #e5a73a 0%, rgba(229, 167, 58, 0.44) 88.77%, rgba(229, 167, 58, 0.54) 100%, #e5a73a 100%);
  background: radial-gradient(511.17% 4488.45% at -22.37% -263.35%, #e5a73a 0%, rgba(229, 167, 58, 0.44) 88.77%, rgba(229, 167, 58, 0.54) 100%, #e5a73a 100%);
  opacity: 0.8;
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;
  padding: 10px;
  font-size: 2rem;
  display: inline-block;
}

.header__img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -10;
}

.header__img img {
  width: 49vmax;
}

.header__dop {
  position: absolute;
  z-index: -9;
}

.header__dop-1 {
  right: 49vmax;
  top: 0;
}

.header__dop-1 img {
  max-width: 29vmax;
}

.header__dop-2 {
  left: 0;
  top: 40vmax;
}

.header__dop-2 img {
  max-width: 32vmax;
}

.header__dop-3 {
  top: 50vmax;
  right: 0;
}

.footer {
  position: relative;
}

.footer__content {
  padding: 200px 0px 100px 0px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0px 0px 50px 0px;
}

.footer__text {
  font-size: 1.7rem;
  line-height: 1.3;
  text-align: center;
  position: relative;
  z-index: 10;
}

.footer__bg {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 0;
}

.footer__bg img {
  width: 100vmax;
}

.inner-footer__item {
  position: relative;
  font-size: 1.5rem;
  padding: 10px;
  background: -o-radial-gradient(-22.37% -263.35%, 438.22% 3617.03%, #e5b766 0%, rgba(229, 183, 102, 0.44) 100%);
  background: radial-gradient(438.22% 3617.03% at -22.37% -263.35%, #e5b766 0%, rgba(229, 183, 102, 0.44) 100%);
  opacity: 0.8;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;
}

.inner-footer__item img {
  position: absolute;
  left: -30px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.cases__title {
  position: relative;
  z-index: 10;
  border: 0.3px solid #fff;
  margin: 0px auto 40px;
  font-size: 4rem;
  line-height: 52px;
  max-width: 750px;
  text-align: center;
  padding: 30px;
  text-transform: uppercase;
  background: -o-radial-gradient(-22.37% -263.35%, 438.22% 3617.03%, #e5a73a 0%, #e5a73a 100%);
  background: radial-gradient(438.22% 3617.03% at -22.37% -263.35%, #e5a73a 0%, #e5a73a 100%);
  opacity: 0.8;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px;
}

.cases__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inner-cases__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  font-weight: 300;
  font-size: 2.7rem;
}

.inner-cases__item img {
  margin: 0px 20px 0px 0px;
}

.calc {
  position: relative;
}

.calc__content {
  padding: 10vmax 0px;
}

.calc__title {
  text-align: center;
  position: relative;
  font-size: 4rem;
  padding: 30px;
  background: -o-radial-gradient(0% -49.31%, 192.33% 2902.47%, #e5a73a 0%, rgba(229, 167, 58, 0.31) 100%);
  background: radial-gradient(192.33% 2902.47% at 0% -49.31%, #e5a73a 0%, rgba(229, 167, 58, 0.31) 100%);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px;
  max-width: 650px;
  margin: 0px auto;
}

.calc__title img {
  position: absolute;
  bottom: -100px;
  right: -50px;
}

.calc__bg {
  position: absolute;
  top: -25vmax;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: -10;
}

.calc__bg img {
  width: 100vmax;
}

.program {
  position: relative;
}

.program__content {
  padding: 100px 0px 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program__title {
  font-size: 4rem;
  text-transform: uppercase;
  display: inline-block;
  padding: 20px 30px;
  background: -o-radial-gradient(-22.37% -263.35%, 438.22% 3617.03%, #e5a73a 0%, rgba(229, 167, 58, 0.44) 100%);
  background: radial-gradient(438.22% 3617.03% at -22.37% -263.35%, #e5a73a 0%, rgba(229, 167, 58, 0.44) 100%);
  opacity: 0.8;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px;
  margin: 0px 0px 150px 0px;
}

.program__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  position: relative;
}

.inner-program__line {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: -10;
}

.inner-program__item {
  position: relative;
  font-size: 2.7rem;
  line-height: 1.2;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  max-width: 500px;
  margin: 0px 0px 200px 0px;
}

.inner-program__item-1 .inner-program__num {
  left: -40px;
  top: -50px;
}

.inner-program__item-1 .inner-program__bg {
  top: -62px;
  left: -80px;
}

.inner-program__item-2 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.inner-program__item-2 .inner-program__num {
  left: 10px;
  top: -71px;
}

.inner-program__item-2 .inner-program__bg {
  top: -252px;
  left: -50px;
}

.inner-program__item-3 .inner-program__num {
  left: -90px;
  top: -81px;
}

.inner-program__item-3 .inner-program__bg {
  top: -92px;
  left: -130px;
}

.inner-program__item-4 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.inner-program__item-4 .inner-program__num {
  left: 10px;
  top: -71px;
}

.inner-program__item-4 .inner-program__bg {
  top: -332px;
  left: -80px;
}

.inner-program__item-5 .inner-program__num {
  left: 0px;
  top: -61px;
}

.inner-program__item-5 .inner-program__bg {
  top: -282px;
  left: -130px;
}

.inner-program__item-6 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin: 0px 0px 0px 0px;
}

.inner-program__item-6 .inner-program__num {
  left: 10px;
  top: -71px;
}

.inner-program__item-6 .inner-program__bg {
  top: -112px;
  left: -80px;
}

.inner-program__num {
  position: absolute;
  color: #fff;
  font-size: 10rem;
  font-weight: 800;
  z-index: -1;
  opacity: 0.6;
}

.inner-program__bg {
  position: absolute;
  z-index: -9;
  -webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
}

.inner-program__dop {
  position: absolute;
  font-size: 12rem;
  width: 200%;
  font-family: PT;
  color: rgba(216, 167, 82, 0.23);
}

.inner-program__dop-1 {
  top: 200px;
  left: -150px;
}

.beton__img {
  position: relative;
  text-align: center;
}

.beton__text {
  position: absolute;
  font-size: 3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.beton__text img {
  margin: 10px 0px 0px 0px;
}

.beton__text-1 {
  top: 320px;
  left: -70px;
}

.beton__text-2 {
  top: 460px;
  left: 70px;
}

.beton__text-3 {
  top: 520px;
  left: 320px;
}

.beton__text-4 {
  top: 530px;
  right: 340px;
}

.beton__text-5 {
  top: 50px;
  right: 170px;
}

.beton__text-6 {
  top: 200px;
  right: -30px;
}

.pluses__content {
  padding: 10px 0px;
}

.pluses__text {
  position: relative;
  text-align: center;
}

.pluses__text span {
  font-family: PT;
  font-size: 7rem;
  color: rgba(229, 167, 58, 0.65);
}

.pluses__text-item {
  position: absolute;
  text-align: center;
  font-size: 3rem;
  line-height: 1.2;
}

.pluses__text-item-1 {
  max-width: 560px;
  top: -200px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.pluses__text-item-2 {
  max-width: 300px;
  top: -100px;
  right: 100px;
}

.pluses__text-item-3 {
  max-width: 400px;
  top: 10px;
  right: -30px;
}

.pluses__text-item-4 {
  max-width: 500px;
  bottom: -150px;
  right: 60px;
}

.pluses__text-item-5 {
  max-width: 500px;
  bottom: -150px;
  left: 60px;
}

.pluses__text-item-6 {
  max-width: 370px;
  top: 10px;
  left: 0px;
}

.pluses__text-item-7 {
  top: -80px;
  left: 100px;
}

.comand {
  position: relative;
}

.comand__content {
  padding: 0px 0px 520px 0px;
}

.comand__img {
  text-align: center;
  margin: 0px 0px 80px 0px;
}

.comand__title {
  font-family: PT;
  font-size: 3.3rem;
  line-height: 1.3;
  text-align: center;
  margin: 0px 0px 60px 0px;
}

.comand__inner {
  max-width: 900px;
  margin: 0px auto;
}

.comand__bg {
  position: absolute;
  top: 25vmax;
  z-index: -10;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.comand__bg img {
  width: 100vmax;
}

.inner-comand__item {
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner-comand__item img {
  margin: 0px 50px 0px 0px;
}

.bid__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 162px 0px;
}

.bid__title {
  text-transform: uppercase;
  position: relative;
  font-size: 4rem;
  padding: 30px 40px;
  margin: 0px 0px 100px 0px;
  background: -o-radial-gradient(-6.53% -254.67%, 280.9% 2896.19%, #e5a73a 0%, rgba(229, 167, 58, 0.24) 100%);
  background: radial-gradient(280.9% 2896.19% at -6.53% -254.67%, #e5a73a 0%, rgba(229, 167, 58, 0.24) 100%);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px;
}

.bid__title img {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: -70px;
  max-width: 100px;
}

.bid__text {
  max-width: 900px;
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 300;
  margin: 0px auto;
  text-align: center;
}

.rev__content {
  text-align: center;
  padding: 0px 0px 130px 0px;
}

.rev__title {
  display: inline-block;
  font-size: 4rem;
  text-transform: uppercase;
  padding: 20px 30px;
  background: -o-radial-gradient(-22.37% -263.35%, 438.22% 3617.03%, #e6af53 0%, rgba(230, 175, 83, 0.63) 100%);
  background: radial-gradient(438.22% 3617.03% at -22.37% -263.35%, #e6af53 0%, rgba(230, 175, 83, 0.63) 100%);
  opacity: 0.8;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px;
  margin: 0px 0px 35px 0px;
}

.rev__slider {
  position: relative;
  min-width: 0;
}

.rev__slider-wrap {
  display: inline-block;
  padding: 35px;
  background: #dedede;
  -webkit-box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.rev__slider-wrap img {
  border-radius: 30px;
}

.swiper-button-next {
  color: #000 !important;
}

.swiper-button-prev {
  color: #000 !important;
}

.qus {
  position: relative;
}

.qus__content {
  text-align: center;
  max-width: 800px;
  padding: 0px 0px 160px 0px;
}

.qus__title {
  display: inline-block;
  font-size: 3rem;
  padding: 15px 30px;
  background: -o-radial-gradient(-22.37% -263.35%, 438.22% 3617.03%, #e6af54 0%, rgba(230, 176, 86, 0.63) 100%);
  background: radial-gradient(438.22% 3617.03% at -22.37% -263.35%, #e6af54 0%, rgba(230, 176, 86, 0.63) 100%);
  opacity: 0.8;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px;
  margin: 0px 0px 150px 0px;
}

.qus__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 60px 0px;
}

.qus__bid {
  display: inline-block;
  font-size: 4rem;
  padding: 20px 30px;
  font-family: PT;
  text-transform: uppercase;
  background: -o-radial-gradient(0% -49.31%, 192.33% 2902.47%, #e7b661 0%, rgba(231, 182, 98, 0.54) 100%);
  background: radial-gradient(192.33% 2902.47% at 0% -49.31%, #e7b661 0%, rgba(231, 182, 98, 0.54) 100%);
  -webkit-box-shadow: 20px 15px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 20px 15px 10px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px;
}

.qus__bid img {
  position: absolute;
  right: 0;
  bottom: -80px;
  width: 111px;
}

.qus__bg {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  z-index: -11;
}

.qus__bg img {
  width: 100vmax;
}

.inner-qus__item {
  position: relative;
  font-size: 2.7rem;
  line-height: 1.3;
  max-width: 340px;
  margin: 0px 0px 150px 0px;
}

.inner-qus__item-1 .inner-qus__bg {
  left: -240px;
  top: -230px;
}

.inner-qus__item-1 .inner-qus__num {
  left: -70px;
  top: -90px;
}

.inner-qus__item-2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.inner-qus__item-2 .inner-qus__bg {
  right: -220px;
  top: -230px;
}

.inner-qus__item-3 .inner-qus__bg {
  left: -240px;
  top: -250px;
}

.inner-qus__item-3 .inner-qus__num {
  left: -70px;
  top: -110px;
}

.inner-qus__item-4 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.inner-qus__item-4 .inner-qus__bg {
  right: -220px;
  top: -250px;
}

.inner-qus__item-5 .inner-qus__bg {
  left: -210px;
  top: -220px;
}

.inner-qus__item-5 .inner-qus__num {
  left: -50px;
  top: -110px;
}

.inner-qus__item-6 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.inner-qus__item-6 .inner-qus__bg {
  right: -320px;
  top: -310px;
}

.inner-qus__num {
  position: absolute;
  font-size: 10rem;
  font-weight: 800;
  color: #e7b763;
}

.inner-qus__bg {
  position: absolute;
  z-index: -10;
}

@media (max-width: 1182px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 1025.98px) {
  ._container {
    max-width: 750px;
  }

  .title {
    font-size: 3rem;
    padding: 15px 20px;
    line-height: 1.3;
  }

  .header__title {
    max-width: 480px;
  }

  .footer__content {
    padding: 50px 0px 50px 0px;
  }

  .inner-cases__item {
    font-size: 2.3rem;
  }

  .calc__title img {
    width: 100px;
    bottom: -70px;
    right: -10px;
  }

  .inner-program__item {
    font-size: 2rem;
    max-width: 400px;
  }

  .inner-program__item-1 .inner-program__bg img {
    width: 500px;
  }

  .inner-program__item-2 .inner-program__bg img {
    width: 500px;
  }

  .inner-program__item-3 .inner-program__bg {
    top: -72px;
    left: -90px;
  }

  .inner-program__item-3 .inner-program__bg img {
    width: 500px;
  }

  .inner-program__item-4 .inner-program__bg {
    top: -242px;
    left: -90px;
  }

  .inner-program__item-4 .inner-program__bg img {
    width: 550px;
  }

  .inner-program__item-5 {
    margin: 0px 0px 60px 0px;
  }

  .beton__img img {
    max-width: 600px;
  }

  .beton__text {
    font-size: 2rem;
  }

  .beton__text img {
    max-width: 150px;
  }

  .beton__text-1 {
    top: 150px;
    left: 0px;
  }

  .beton__text-2 {
    top: 260px;
    left: 70px;
  }

  .beton__text-3 {
    top: 300px;
    left: 220px;
  }

  .beton__text-4 {
    top: 290px;
    right: 190px;
  }

  .beton__text-5 {
    top: 30px;
    right: 120px;
  }

  .beton__text-6 {
    top: 110px;
    right: 20px;
  }

  .pluses__content {
    padding: 100px 60px;
  }

  .pluses__text span {
    margin: 0px 0px 100px 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0.5;
  }

  .pluses__text-item {
    font-size: 2.4rem;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    position: relative;
    max-width: 100%;
    margin: 0px 0px 40px 0px;
  }

  .comand__content {
    padding: 0px 0px 120px 0px;
  }

  .comand__img {
    margin: 0px 0px 40px 0px;
  }

  .comand__title {
    font-size: 3rem;
    margin: 0px 0px 30px 0px;
  }

  .inner-comand__item {
    font-size: 3rem;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0px 60px 0px;
  }

  .inner-comand__item img {
    width: 120px;
    margin: 0px 0px 20px 0px;
  }

  .rev__slider {
    padding: 0px 50px;
  }

  .rev__slider-item img {
    max-width: 100%;
  }

  .inner-qus__item {
    font-size: 2rem;
    max-width: 320px;
  }

  .inner-qus__item-1 .inner-qus__bg {
    left: -180px;
  }

  .inner-qus__item-1 .inner-qus__num {
    left: 10px;
    top: -60px;
  }

  .inner-qus__item-2 .inner-qus__bg {
    right: -180px;
  }

  .inner-qus__item-3 .inner-qus__bg {
    left: -180px;
    top: -220px;
  }

  .inner-qus__item-3 .inner-qus__num {
    left: 10px;
    top: -130px;
  }

  .inner-qus__item-4 .inner-qus__bg {
    right: -200px;
    top: -230px;
  }

  .inner-qus__item-5 .inner-qus__bg {
    left: -180px;
    top: -220px;
  }

  .inner-qus__item-5 .inner-qus__num {
    left: 10px;
    top: -130px;
  }

  .inner-qus__item-6 .inner-qus__bg {
    right: -180px;
    top: -220px;
  }

  .inner-qus__bg img {
    max-width: 600px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
  }

  .title {
    font-size: 2.6rem;
  }

  .header__content {
    padding: 20px 20px 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__top {
    margin: 0px 0px 50px 0px;
  }

  .header__nav-item {
    background: none;
    padding: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .header__title {
    font-size: 3rem;
    text-align: center;
    background: -o-radial-gradient(-22.37% -263.35%, 322.91% 4859.17%, #e5a73a 0%, rgba(201, 204, 213, 0.17) 100%, #e5a73a 50%);
    background: radial-gradient(322.91% 4859.17% at -22.37% -263.35%, #e5a73a 0%, rgba(201, 204, 213, 0.17) 100%, #e5a73a 50%);
  }

  .header__subtitle {
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 100px 0px;
  }

  .header__send {
    text-align: center;
  }

  .header__img img {
    width: 100%;
  }

  .header__dop {
    opacity: 0.7;
  }

  .header__dop-1 {
    right: 0vmax;
  }

  .header__dop-2 {
    top: 200px;
  }

  .header__dop-2 img {
    max-width: 300px;
  }

  .header__dop-3 {
    top: 250px;
  }

  .header__dop-3 img {
    max-width: 200px;
  }

  main.lock {
    opacity: 0.6;
  }

  .header__body {
    height: 50px;
  }

  .header__burger {
    display: block;
    position: absolute !important;
    width: 50px;
    height: 30px;
    right: 110%;
    top: 29px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #161616;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    top: 13px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #010101;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 13px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 13px;
  }

  .header__nav {
    position: fixed;
    top: 0%;
    right: -50%;
    width: 50%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: -o-radial-gradient(-6.38% -73.08%, 240.38% 3156.38%, #e5a73a 0%, #e5a73a 100%);
    background: radial-gradient(240.38% 3156.38% at -6.38% -73.08%, #e5a73a 0%, #e5a73a 100%);
    padding: 60px 10px 20px 10px;
    z-index: 21;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__nav-item {
    margin: 0px 0px 30px 0px;
    font-size: 2.4rem;
    line-height: 1.3;
  }

  .bg-mob {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(255, 255, 255, 0.35);
    -webkit-box-shadow: -14px 4px 8px 0px rgba(34, 60, 80, 0.2);
            box-shadow: -14px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -webkit-backdrop-filter: blur(9px);
            backdrop-filter: blur(9px);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .bg-mob.active {
    opacity: 1;
    visibility: visible;
  }

  .header__nav.active {
    right: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0px 0px 20px 0px;
  }

  .header__link {
    font-size: 24px;
  }

  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .inner-footer__item {
    margin: 0px 0px 30px 0px;
  }

  .cases__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 20px;
  }

  .inner-cases__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    line-height: 1.3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 0px 0px 30px 0px;
  }

  .inner-cases__item img {
    margin: 0px 0px 10px 0px;
  }

  .calc__content {
    padding: 10vmax 20px;
  }

  .calc__title {
    font-size: 2rem;
  }

  .calc__title img {
    position: absolute;
    bottom: -30px;
    right: 0px;
    width: 70px;
  }

  .program__content {
    padding: 100px 20px 100px;
  }

  .program__title {
    text-align: center;
    font-size: 2rem;
  }

  .inner-program__item {
    text-align: center;
  }

  .inner-program__item-3 .inner-program__bg {
    top: -72px;
  }

  .inner-program__item-4 .inner-program__bg {
    top: -252px;
  }

  .inner-program__num {
    right: auto;
    top: -100px !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, 0) !important;
        -ms-transform: translate(-50%, 0) !important;
            transform: translate(-50%, 0) !important;
  }

  .beton__img img {
    max-width: 350px;
  }

  .beton__text {
    font-size: 1.6rem;
  }

  .beton__text img {
    max-width: 50px;
    margin: 5px 0px 0px 0px;
  }

  .beton__text-1 {
    top: 80px;
    left: 0;
  }

  .beton__text-2 {
    top: 130px;
    left: 40px;
  }

  .beton__text-3 {
    top: 160px;
    left: 90px;
  }

  .beton__text-4 {
    top: 160px;
    right: 110px;
  }

  .beton__text-5 {
    top: 0px;
    right: 50px;
  }

  .beton__text-6 {
    top: 64px;
    right: 20px;
  }

  .pluses__content {
    padding: 50px 20px;
  }

  .comand__content {
    padding: 0px 0px 20px 0px;
  }

  .comand__title {
    font-size: 2rem;
  }

  .inner-comand__item {
    font-size: 2.6rem;
  }

  .inner-comand__item img {
    width: 80px;
    margin: 0px 0px 20px 0px;
  }

  .bid__content {
    padding: 0px 20px 102px;
  }

  .bid__title {
    font-size: 2rem;
    text-align: center;
  }

  .bid__title img {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    bottom: -60px;
    max-width: 70px;
  }

  .bid__text {
    font-size: 2.6rem;
  }

  .rev__title {
    font-size: 2.2rem;
  }

  .rev__slider-wrap {
    padding: 15px;
  }

  .qus__content {
    padding: 0px 0px 60px 0px;
  }

  .qus__title {
    margin: 0px 0px 100px 0px;
  }

  .qus__inner {
    margin: 0px 20px 60px;
  }

  .qus__bid {
    font-size: 3rem;
  }

  .qus__bid img {
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 71px;
  }

  .inner-qus__item {
    font-size: 1.6rem;
    max-width: 200px;
    margin: 0px 0px 100px 0px;
  }

  .inner-qus__item:last-child {
    margin: 0px 0px 30px 0px;
  }

  .inner-qus__item-1 .inner-qus__bg {
    left: -120px;
    top: -130px;
  }

  .inner-qus__item-2 .inner-qus__bg {
    top: -140px;
    right: -140px;
  }

  .inner-qus__item-3 .inner-qus__bg {
    left: -130px;
    top: -150px;
  }

  .inner-qus__item-3 .inner-qus__num {
    left: 10px;
    top: -75px;
  }

  .inner-qus__item-4 .inner-qus__bg {
    right: -140px;
    top: -150px;
  }

  .inner-qus__item-5 .inner-qus__bg {
    left: -140px;
    top: -140px;
  }

  .inner-qus__item-5 .inner-qus__num {
    left: 10px;
    top: -70px;
  }

  .inner-qus__item-6 .inner-qus__bg {
    right: -130px;
    top: -140px;
  }

  .inner-qus__num {
    font-size: 5rem;
  }

  .inner-qus__bg img {
    max-width: 400px;
  }
}

@media (max-width: 767.98px) and (max-width: 767.98px) {
  .header__burger {
    width: 40px;
    height: 25px;
  }

  .header__burger span {
    top: 10px;
  }

  .header__burger.active:before {
    top: 10px;
  }

  .header__burger.active:after {
    top: 10px;
  }

  .header__nav-item {
    font-size: 3rem;
  }
}